@import url(./reset.css);

/**전체 레이아웃**/
body {
  -ms-overflow-style: none;
  background-color: #eceff1;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  background-color: transparent;
}

ul {
  list-style: none;
}
.main {
  width: 100%;
  height: 100vh;
}

.main-inner {
  width: 100%;
  height: 100vh;
  padding: 5rem;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}

.primary-button {
  height: 42px;
  border-radius: 0.5rem;
  background-color: #000;
}

.primary-button span {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.full-width {
  width: 100%;
}

.text-button span {
  font-size: 1.6rem;
  letter-spacing: 1.5px;
}

.icon-button {
  width: 24px;
  height: 24px;
}

.icon-button span {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

/*로그인, 회원가입*/
.title {
  margin-bottom: 5rem;
}

.title h2 {
  padding-bottom: 1rem;
  font-size: 38px;
}

.title span {
  display: block;
  color: #78909c;
  font-size: 1.6rem;
  font-weight: 400;
}

.auth-form ul li label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.auth-form ul li input[type="email"],
.auth-form ul li input[type="password"] {
  width: 100%;
  height: 38px;
  border-radius: 0.5rem;
  text-indent: 10px;
}
